<mat-card-content class="layout-container">
  <mat-card appearance="outlined" class="main-card">
    <mat-card-content>
      <div class="content">
        <div class="content-main">
          <h1>Olá. Bem vindo ao app, {{ title }}</h1>
          <p>Aplicação desenvolvida para aprimoramento dos conhecimentos sobre Angular! Rumo ao próximo nível. 🎉</p>
          <app-lowercase></app-lowercase>
          <app-uppercase></app-uppercase>
          <app-titlecase></app-titlecase>
          <app-slice></app-slice>
          <app-json></app-json>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined" class="main-card">
    <div class="content">
      <div class="left-side">
        <h2>Documentação Angular</h2>
        <p>Clique nos links para acessar a documentação oficial e tutoriais do Angular</p>
      </div>
      <div class="divider" role="separator" aria-label="Divider"></div>
      <div class="right-side">
        <div class="pill-group">
          <a class="pill" href="https://angular.dev" target="_blank" rel="noopener">
            <span>Explore the Docs</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14" fill="currentColor">
              <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/>
            </svg>
          </a>
          <a class="pill" href="https://angular.dev/tutorials" target="_blank" rel="noopener">
            <span>Learn with Tutorials</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14" fill="currentColor">
              <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/>
            </svg>
          </a>
          <a class="pill" href="https://angular.dev/tools/cli" target="_blank" rel="noopener">
            <span>CLI Docs</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14" fill="currentColor">
              <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/>
            </svg>
          </a>
          <a class="pill" href="https://angular.dev/tools/language-service" target="_blank" rel="noopener">
            <span>Angular Language Service</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14" fill="currentColor">
              <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/>
            </svg>
          </a>
          <a class="pill" href="https://angular.dev/tools/devtools" target="_blank" rel="noopener">
            <span>Angular DevTools</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14" fill="currentColor">
              <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </mat-card>
</mat-card-content>
