<mat-card>
  <header id="global-nav" class="global-nav">
    <div class="global-nav__content"> 
      <a href="https://github.com/angular/" aria-label="Angular">
        <img src="https://github.com/angular.png" alt="Angular Logo" class="logo" />
      </a>

      <nav class="global-nav__nav">
        <ul class="global-nav__primary-items">
          <li *ngFor="let item of navItems">
            <a [href]="item.link" [title]="item.title">
              {{ item.label }}
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</mat-card>
